@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --colorbak: #171717;
  --colorg: #1f1f1f;
  --colora: linear-gradient(90deg, #87a7f2, #94e4e5);
  --colorhover: #87a7f2;
  --colorhoverb: #94e4e5;
}





/* NAVBAR */

body{
  margin: 0 auto;
  padding: 0px;
  background-color: var(--colorbak);
}

html{
    scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#contact-section {
  scroll-margin-top: 50px; /* adapte selon la hauteur de ta navbar */
}




header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  background: var(--colorbak);

  box-sizing: border-box;
  z-index: 1000;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Logo + liens */
.logo a,
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.25s ease;
}

.links {
  display: flex;
  gap: 40px;
}

.links a:hover,
.logo a:hover {
  color: var(--colorhoverb);
}



/* CARD */
.project {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
}

.project a {
  text-decoration: none;
  color: inherit;
}

.card {
  background: var(--colorg);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.card h3 {
  font-size: 19px;
  margin: 16px 16px 8px;
  color: #ffffff;
}

.card h5 {
  text-align: center;
  font-size: 16px;
  margin: 16px 16px 8px;
  color: #a9a9a9;
  margin-bottom: 20px;
}

.card p {
  font-size: 0.9rem;
  margin: 0 16px 20px;
  color: #b5b5b5;
  line-height: 1.4;
}

/* Responsive ajustements */
@media (max-width: 600px) {
  .project {
    padding: 20px;
    gap: 20px;
  }

  .card img {
    height: 150px;
  }
}



/* Banniere */
#particles-js {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}


.banner {
  width: 100%;
  height: 400px;
  text-align: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.banner h1 {
  font-size: 60px;
    background-image: var(--colora);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.banner h2 {
  font-size: 20px;
      background-image: var(--colora);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}


.banner-content {
  position: relative;
  z-index: 2;
}




/* Contact */

.contact-form{
  padding: 30px;
  width: 500px;
}

.contact-section {
  width: 90%;
  padding: 35px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* FORMULAIRE */
.contact-form h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 500;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 8px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #222;
  background: #111;
  color: white;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  margin: 10px auto;
  font-weight: 600;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: var(--colorhover);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.contact-form button:hover {
  background: var(--colora);
}

/* CARTE COMPÉTENCES */
.skills-card {
  width: 500px;
  max-width: 420px;
  margin: 0 auto;
  background: var(--colorg);
  filter: drop-shadow();
  border-radius: 18px;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.skills-card h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.skills-card p {
  line-height: 1.7;
  font-size: 14px;
  opacity: 0.85;
}

/* SOCIALS */

.socials-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;

    /* FONDU SUR LES BORDS */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    var(--colorbak) 15%,
    var(--colorbak) 85%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    var(--colorbak) 15%,
    var(--colorbak) 85%,
    transparent 100%
  );
  
}   


.socials {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.socials img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.socials img:hover {
  transform: scale(1.15);
}

.socials-wrapper:hover .socials {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 1080px) {
  .contact-container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .contact-form, .skills-card {
    width: 400px;
    margin-left: -15px;
    background-color: var(--colorbak);
    box-shadow: none;
  }


}








/* BOUTON CV */
.cv-button {
  margin-top: auto;
  background: var(--colorhover);
  color: black;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.cv-button:hover {
  background: var(--colora);
}



/* Footer */

.footer {
  padding: 1.5rem;
  background: #0f0f0f;
  color: #ccc;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  height: 140px;
  width: 100%;
}


.social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-links a {
  color: #ccc;
  font-size: 30px;
  transition: 0.4s ease;
}

.social-links a:hover {
  color: #ffffff;
}



/* MEDIA POUR LES PROJETS */
/* ----- Structure générale ----- */
.projet {
    max-width: 90%;
    margin: 0 auto;
    padding: 80px 20px;
}


.texte {
    text-align: center;     /* tout le texte centré */
    padding: 0 10px;
}

.texte h3, 
.texte h4 {
    margin-bottom: 10px;
}

.texte p {
  text-align: left;
  margin: auto;
    line-height: 2.2;
    padding-top: 75px;
    margin-bottom: 75px;
}


.media {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.media blockquote.instagram-media {
    max-width: 350px !important; /* limite la taille pour téléphone */
    margin: 0 auto !important;     /* évite les déformations */
}

.instagram-media{
  max-height: 600px;
  width: 100px;
}

/*Texte*/

p{
  color: #ffffff;
  max-width: 900px;
  text-align: left;
  line-height: 1.8;
}



h3{
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h4{
  font-size: 30px;
  color: rgb(151, 151, 151);
  text-align: center;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h5{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}





.btn-cv:hover{
  padding: 10.5px 105px;
  font-size: 20px;
  filter: drop-shadow(0 0 8px #0000005d);
}

hr{
  width: 300px;
  margin: 100px auto;
  border: 1px solid white;

}






a.parallax h1,
a.parallax2 h1,
a.parallax3 h1,
a.parallax4 h1 {
    margin-left: 10px;
    font-size: 25px;
}

header {


  padding: 15px 10px;

}

#info {
  scroll-margin-top: 40px; /* adapte selon la hauteur de ta navbar */
}



