@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --color: #171717;
  --colorb: #1f3f75;
  --colora: #5983ce;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}



/* NAVBAR */

body{
  margin: 0px;
  padding: 0px;
  background-color: var(--color);
}

html{
    scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#contact-section {
  scroll-margin-top: 50px; /* adapte selon la hauteur de ta navbar */
}

#info {
  scroll-margin-top: 150px; /* adapte selon la hauteur de ta navbar */
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  background: var(--color);

  box-sizing: border-box;
  z-index: 1000;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Logo + liens */
.logo a,
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.25s ease;
}

.links {
  display: flex;
  gap: 40px;
}

.links a:hover,
.logo a:hover {
  color: var(--colora);
}



/* PARALLAX */

a.parallax, 
a.parallax2, 
a.parallax3,
a.parallax4 {
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;     /* centre verticalement */
    text-decoration: none;
    width: 100%;
    height: 250px; /* hauteur de la bannière (modifiable) */
    transition: 0.45s ease;
    border-radius: 30px;
}



/* Images selon les classes */
a.parallax{
    background-image: url("../files/img/1.png");
    background-position: center;
    background-size: cover;
    
}
a.parallax2{
    background-image: url("../files/img/2.png");
    background-position: center;
    background-size: cover;
}
a.parallax3{
    background-image: url("../files/img/3.png");
    background-position: center;
    background-size: cover;
}

a.parallax4{
    background-image: url("../files/img/4.png");
    background-position: center;
    background-size: cover;
}

/* LIENS PROJETS */

h1 {
  margin-left: 40px;
    font-size: 35px;
    color: #ffffff;
    transition: 0.45s ease;
      font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 300;
  filter: drop-shadow(0 0 8px #000000);
}

a.parallax:hover,
a.parallax2:hover,
a.parallax3:hover,
a.parallax4:hover {
    height: 300px; /* augmente la hauteur de la bannière au survol */
    filter: drop-shadow(0 0 8px #000000);
}

/* A Propos */

.info {
    margin: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: var(--colorb);
}

/* Les deux prennent exactement la même place */
.info .text{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.info .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .image img {
    width: 70%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.text h2 {
    position: relative;
    margin-bottom: 30px;
    top: -30px;
    text-align: center;
    font-weight: 400;
}

.text p {
    position: relative;
    font-size: 15px;
    line-height: 1.8;
    top: -10px;
    font-weight: 400;
    max-width: 700px;
    min-width: 300px;
}


@media (max-width: 900px) {
    .info {
        flex-direction: column;
        text-align: center;
        margin: 40px;
    }

    .info .image img {
        max-width: 80%;
        height: auto;
    }
}




/* Contact */

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px 120px 20px;
}

.contact-container {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* FORMULAIRE */
.contact-form h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 500;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 8px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #222;
  background: #111;
  color: white;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: var(--colorb);
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background: var(--colora);
}

/* CARTE COMPÉTENCES */
.skills-card {
  background: var(--colorb);
  border-radius: 10px;
  padding: 35px;
  color: white;
  display: flex;
  flex-direction: column;
}

.skills-card h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.skills-card p {
  line-height: 1.6;
  font-size: 14px;
  opacity: 0.9;
}

/* SOCIALS */
.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.socials a {
  color: #ccc;
  font-size: 30px;
  transition: 0.4s ease;
}

.socials a:hover {
  color: #ffffff;
}

/* BOUTON CV */
.cv-button {
  margin-top: auto;
  background: white;
  color: var(--colorb);
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.cv-button:hover {
  background: #eaeaea;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

/* Footer */

.footer {
  padding: 1.5rem;
  background: #0f0f0f;
  color: #ccc;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  height: 140px;
}


.social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-links a {
  color: #ccc;
  font-size: 30px;
  transition: 0.4s ease;
}

.social-links a:hover {
  color: #ffffff;
}



/* MEDIA POUR LES PROJETS */
/* ----- Structure générale ----- */
.projet {
    max-width: 90%;
    margin: 0 auto;
    padding: 80px 20px;
}


.texte {
    text-align: center;     /* tout le texte centré */
    padding: 0 10px;
}

.texte h3, 
.texte h4 {
    margin-bottom: 10px;
}

.texte p {
  margin: auto;
    line-height: 2.2;
    padding-top: 75px;
    margin-bottom: 75px;
}


.media {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.media blockquote.instagram-media {
    max-width: 350px !important; /* limite la taille pour téléphone */
    margin: 0 auto !important;     /* évite les déformations */
}

.instagram-media{
  max-height: 600px;
  width: 100px;
}

/*Texte*/

p{
  color: #ffffff;
  max-width: 900px;
  text-align: left;
  line-height: 1.8;
}



h3{
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h4{
  font-size: 30px;
  color: rgb(151, 151, 151);
  text-align: center;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h5{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.btn-cv{
  text-decoration: none;
  color: #000000;
  padding: 10px 100px;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  margin-left:auto;
  border: none;
  transition: 0.25s ease;
}

.btn-cv:hover{
  padding: 10.5px 105px;
  font-size: 20px;
  filter: drop-shadow(0 0 8px #0000005d);
}

hr{
  width: 300px;
  margin: 100px auto;
  border: 1px solid white;

}




@media (max-width: 768px) {
    /* Ton CSS pour les écrans plus petits */
  p{
    text-align: center;
  }



    h1{
      box-shadow: #000000;
    }



    .footer h5{
      text-align: center;
    }


    .cv-button {
 
      margin-top: 30px;

    }

a.parallax h1,
a.parallax2 h1,
a.parallax3 h1,
a.parallax4 h1 {
    margin-left: 10px;
    font-size: 25px;
}

header {


  padding: 15px 10px;

}

#info {
  scroll-margin-top: 40px; /* adapte selon la hauteur de ta navbar */
}

}
